apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{cookiecutter.project_slug}}
  namespace: {{cookiecutter.k8s_namespace}}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: {{cookiecutter.project_slug}}
  template:
    metadata:
      labels:
        app: {{cookiecutter.project_slug}}
    spec:
      containers:
        - name: {{cookiecutter.project_slug}}
          image: "{% raw %}{{DOCKER_REPO}}:{{GIT_COMMIT_SHA}}{% endraw %}"
          ports:
            - containerPort: 8000
          env:
            - name: LOG_LEVEL
              value: "WARNING"
            - name: LOG_JSON
              value: "true"
            - name: AUTH_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{cookiecutter.project_slug}}-secrets
                  key: auth-secret
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
